# Ignore artifacts:
build
public/dist
coverage
node_modules
dist
lat-lng-generation-report.txt
arbo-lat-lng-generation-report.txt
sars-cov-2-lat-lng-generation-report.txt

# Files containing secret information
.env
.env-local-etl
.env-production-etl
.vercel
.env*.local
